{extend name="layout"}

{block name="content"}
<form id="CategoryAdd">
    <label class="form-label col-xs-4 col-sm-3" id=""><span>商品分类名称</span></label>
    <input type="text" class="CategoryName" value="" style="margin-bottom: 20px;"><br/>
    <label><span>状态</span></label>
    <select class="Status">
        <option value="1">启用</option>
        <option value="0">停用</option>
    </select><br/>
    <label><span>父类分类</span></label>
    <select class="pid">
        <option value="0">顶级</option>
    </select><br/>
    <label class=""><span>菜单排序</span></label>
    <input type="text" class="sort_number" style="margin-bottom: 20px;"><br/>

</form>
<button class="CategoryAdd">提交</button>
{/block}


{block name="bottom"}
<script>
    (function(){
        //  分类栏目，请求地址获取数据，插入select
        $.ajax({
            url:"{:url('admin/Goods/index')}",
            type:"POST",
            async:false,
            timeout:5000,
            dataType:"json",
            success:function (data) {
                var len = data.data.length;
                console.log(data);
                for(var i = 0; i < len; i++){
                    $('#goods-list').append('<option value="'+ data.data[i].id+'">'+ data.data[i].name+'</option>')
                }
            },
            error:function () {
                console.log("错误");
            }
        })
    }())
</script>
{/block}