<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>结算信息</title>

    <link rel="stylesheet" href="__STATIC__/index/css/m-common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/cart2main.css">
    <script type="text/javascript" src="__STATIC__/index/js/jquery.js"></script>

</head>
<body id="view">
<div id="mask-layer" style="display: block;">
    <section class="cart-page main">
        <header class="sn-nav">
            <div class="sn-nav-back">
                <a class="sn-iconbtn" onclick="javascript:history.back(-1);">返回</a>
            </div>
            <div class="sn-nav-title of">确认订单</div>
            <div class="sn-nav-other"></div>
        </header>
        <div class="cart-group">
            <div class="cart-group-item form-href delivery-lite-info"  onclick="javascript:location.href='{:url("index/Member/address")}'">

                    <h1>
                        <span>收货人: 福尔发</span>
                        <span>188****9193</span>
                    </h1>
                    <div>
                        <div><i></i></div>
                        <p>北京市北京市东城区全境北京市海淀区西三环北路43号中航广场1层</p>
                    </div>

            </div>
        </div>
        <div class="cart-group">
            <div class="form-href details">
                <img class="goods_img_url" onerror="this.src='__STATIC__/index/images/ShoppingArea/Common/blankbg.gif'" src="__STATIC__/index/image/sp1.jpg">
                <div>

                    <p class="goods_name">{$data.goods_name}</p>
                    <i class="order_num">1</i>
                    <div>
                                <span class="price">
                                    <b>￥</b>{$data.goods_bottom_money_one}<b></b>
                                    <i>.{$data.goods_bottom_money_two}</i>
                                </span>
                    </div>

                    <div class="goods-service">
                                <span class="goods-service-item">
                                    <i class="goods-icon icon-tui"></i>
                                    <span class="goods-service-word goods-service-word-tui">7天无理由退货</span>
                                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item payment">
                <label>支付方式</label>
                <div class="form-href">
                    <p>支付宝</p>
                </div>
            </div>
        </div>

        <div class="cart-group">
            <div class="cart-group-item coupon">
                <label>优惠券</label>
                <div class="form-href">
                    <span class="save-money">无可用</span>
                </div>
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item">
                <ul class="detail">
                    <li class="detail-item">
                        <label>商品总额</label>
                        <div>
                                    <span class="price">
                                        <b>￥{$data.goods_bottom_money}</b>
                                    </span>
                        </div>
                    </li>
                    <li class="detail-item">
                        <label>运费</label>
                        <i id="showfareDetail"></i>
                        <div>
                                    <span class="price">
                                        <b>+￥{$data.express_fee}</b>
                                    </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="cart-footer">
            <div>
                <p>
                    实付金额:
                    <span class="price">
                        <b>￥</b>
                                <b class="all_pay">{$data.all_money}</b>
                            </span>
                </p>
            </div>
            <a class="sn-btn sn-btn-assertive" id="bt_order">提交订单</a>
            <a class="sn-btn sn-btn-dark" style="display: none;">提交订单</a>
        </footer>
    </section>
</div>


<script>
    $("#bt_order").click(function () {
        var goods_name =$('.goods_name').html();
        var order_num =$('.order_num').html();
        var all_pay =$('.all_pay').html();
        $.ajax({
            url: "{:url('index/Order/bt_order')}",
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                'goods_name':goods_name,
                'order_num':order_num,
                'all_pay':all_pay
            },
            success: function(data){
                console.log(data);
                alert(data.msg);
            },
            error: function(data){
                console.log('失败');
            }
        })


    });



</script>




</body>
</html>
