<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>手袋购物网</title>

    <link rel="stylesheet" href="__STATIC__/index/css/m-common.css">
    <link rel="stylesheet" href="__STATIC__/index/css/cart2main.css">
    <script type="text/javascript" src="__STATIC__/index/js/jquery.js"></script>

</head>
<body id="view">
<div id="mask-layer">
    <section class="cart-page main">
        <header class="sn-nav">
            <div class="sn-nav-back">
                <a class="sn-iconbtn" onclick="javascript:history.back(-1);">返回</a>
            </div>
            <div class="sn-nav-title of">确认订单</div>
            <div class="sn-nav-other"></div>
        </header>
        <div class="cart-group">

                <div class="cart-group-item form-href delivery-lite-info"  onclick="javascript:location.href='{:url("index/Member/address")}'">
            {if !empty($member_information)&&!empty($position)}
                    <h1>
                        <span>收货人: {$member_information['harvester']}</span>
                        <span>{$member_information['harvester_phone_num']}</span>
                    </h1>
                    <div>
                        <div><i></i></div>
                        <p>{$position}</p>
                    </div>
            {/if}

            {if empty($member_information) || empty($position)}

            <h1>
                <span>收货人: 福尔发</span>
                <span>188****9193</span>
            </h1>
            <div>
                <div><i></i></div>
                <p>北京市北京市东城区全境北京市海淀区西三环北路43号中航广场1层</p>
            </div>
            {/if}

        </div>

        {if !empty($data)}
        <div class="cart-group">
            <div class="form-href details">
                <img class="goods_img_url" onerror="this.src='__STATIC__/index/images/ShoppingArea/Common/blankbg.gif'" src="__STATIC__/index/image/sp1.jpg">
                <div>
                    <p class="goods_name">{$data.goods_name}</p>
                    <i class="order_num">1</i>
                    <div>
                        <span class="price">
                            <b>￥</b>{$data.goods_bottom_money_one}<b></b>
                            <i>.{$data.goods_bottom_money_two}</i>
                        </span>
                    </div>

                    <div class="goods-service">
                        <span class="goods-service-item">
                            <i class="goods-icon icon-tui"></i>
                            <span class="goods-service-word goods-service-word-tui">7天无理由退货</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item payment">
                <label>支付方式</label>
                <div class="form-href">
                    <p>支付宝</p>
                </div>
            </div>
        </div>

        <div class="cart-group">
            <div class="cart-group-item coupon">
                <label>优惠券</label>
                <div class="form-href">
                    <span class="save-money">无可用</span>
                </div>
            </div>
        </div>
        <div class="cart-group">
            <div class="cart-group-item">
                <ul class="detail">
                    <li class="detail-item">
                        <label>商品总额</label>
                        <div>
                            <span class="price">
                                <b>￥{$data.goods_bottom_money}</b>
                            </span>
                        </div>
                    </li>
                    <li class="detail-item">
                        <label>运费</label>
                        <i id="showfareDetail"></i>
                        <div>
                            <span class="price">
                                <b>+￥</b>
                                <b class="express_fee">{$data.express_fee}</b>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <footer class="cart-footer">
            <a class="sn-btn sn-btn-assertive" id="bt_order">提交订单</a>
            <div>
                <p>
                    实付金额:
                    <span class="price">
                        <b>￥</b>
                        <b class="all_pay">{$data.all_money}</b>
                    </span>
                </p>
            </div>
            <!--<a class="sn-btn sn-btn-dark" style="display: none;">提交订单</a>-->
        </footer>
    </section>
</div>

<div class="mask">
<!-- 支付弹窗 -->
<form action="{:url('index/Pay/pay_order')}" method=post target="_blank">
    <div id="body" style="clear:left">
        <dl class="content">
            <dt>商户订单号
                ：</dt>
            <dd>
                <input id="WIDout_trade_no" name="order" />
            </dd>
            <hr class="one_line">
            <dt>订单名称
                ：</dt>
            <dd>
                <input id="WIDsubject" name="order_name" />
            </dd>
            <hr class="one_line">
            <dt>付款金额
                ：</dt>
            <dd>
                <input id="WIDtotal_amount" name="order_money" />
            </dd>
            <hr class="one_line">
            <dt></dt>
            <dd id="btn-dd">
                        <span class="new-btn-login-sp">
                            <button class="new-btn-login" type="submit" style="text-align:center;">确 认</button>
                        </span>
                <span class="note-help">如果您点击“确认”按钮，即表示您同意该次的执行操作。</span>
            </dd>
        </dl>
    </div>
</form>
</div>
{/if}

<!--<body onload="tijiao()">
<form action="https://openapi.alipay.com/gateway.do" method="POST" id="form1">
    <input name="subject" type="hidden" value="mafia-r@163.com" />
    <input name="out_trade_no" type="hidden" value="100.00" />
    <input id="timeout_express" name="title" type="hidden" value="赞助码代码（李雷博客）" />
    <input name="total_amount" type="hidden" value="请填写您在本站的用户名或您的联系方式，以便李雷答谢。" />
    <input name="product_code" type="image" value="转账" />
</form>

<script type="text/javascript">
    function tijiao(){
        document.getElementById('form1').submit();
    }

</script>
</body>-->
<script>
    $("#bt_order").click(function () {
        var goods_name =$('.goods_name').html();
        var order_num =$('.order_num').html();
        var all_pay =$('.all_pay').html();
        var express_fee =$(".express_fee").html();
        $.ajax({
            url: "{:url('index/Order/bt_order')}",
            type: 'POST',
            async: false,
            dataType: 'json',
            data: {
                'goods_name':goods_name,
                'order_num':order_num,
                'all_pay':all_pay,
                'express_fee':express_fee
            },
            success: function(data){
                console.log(data);
                if(data.code==0){
                    alert(data.msg);
                }else {
                    $('.fadeIn').animate({'bottom':'0'});
                    $('.mask').css('display','block');
                }
                // window.location.href ="{:url('index/Order/details')}";
            },
            error: function(data){
                console.log('失败');
            }
        })
    });
    $('.head_close').click(function(){
        $('.fadeIn').animate({'bottom':'-100%'});
        $('.mask').css('display','none');
        window.location.href ="{:url('index/Order/details')}";
    })
</script>
</body>
</html>
