<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手袋购物网</title>
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
</head>
<body>
    <div class="header_box">
        <div class="bar bar-header">
            <a class="back" href="order_take_deliver.html">
                <i class="aui-iconfont aui-icon-left"></i>
            </a>
            <div id="title" class="h1 title">物流信息</div>
        </div>
    </div>
    <div class="logistic_num_box">
        <span class="logistic_name">顺丰</span>
        <span class="logistic_num">99999999999</span>
    </div>
    <div class="logistic_box">
        <ul>
            <li>
                <span>2018.08.21</span>
                <i>&nbsp;—&nbsp;</i>
                <span>收货收货收货已收收货收货收货已收货收货收货收货已收货货</span>
            </li>
            <li>
                <span>2018.08.21</span>
                <i>&nbsp;—&nbsp;</i>
                <span>收货收货收货已收收货收货收货已收货收货收货收货已收货货</span>
            </li>
            <li>
                <span>2018.08.21</span>
                <i>&nbsp;—&nbsp;</i>
                <span>收货收货收货已收收货收货收货已收货收货收货收货已收货货</span>
            </li>
        </ul>
    </div>

<script src="__STATIC__/index/js/jquery.js"></script>
<script>
    (function () {
        $.ajax({
            type:'POST',
            url:'{:url("index/Order/interface_information")}',
            data:{
            },
            dataType: 'json',
            success: function(data){
                console.log(data);
            },
            error:function(data) {
                console.log("失败");
            },
        });
    })()
</script>
</body>
</html>