<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手袋购物网</title>
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <style>
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="header_box" style="background:#f34347">
        <div class="bar bar-header" style="background:#f34347">
            <a class="back" onclick="javascript:history.back(-1);" style="padding-top:5px; display:inline-block; padding-left:10px;">
                <i class="aui-iconfont aui-icon-left" style="font-weight:800; color:#fff; font-size:20px;"></i>
            </a>
            <div id="tite" class="h1 title" style=" width: 72%; margin: 0 auto; ">购物车</div>
            <a class="rig_shai" id="rem_s" href="javascript:void(0)" style="margin-right: 2%;position: absolute; top: 5px; right: 3%;">
                <i class="aui-iconfont aui-icon-edit" style="font-weight:800; color:#fff; font-size:21px;"></i>
            </a>
        </div>
    </div>
</body>
</html>