<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手袋购物网</title>
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <style>
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div class="header_box">
    <div class="bar bar-header">
        <a class="back" onclick="javascript:history.back(-1);">
            <i class="aui-iconfont aui-icon-left"></i>
        </a>
        <div id="title" class="h1 title">我的订单</div>
    </div>
</div>
<div class="list_box">
    <a href="{:url('index/Order/myorder')}" class="active">全部</a>
    <a href="{:url('index/Order/wait_pay')}">待付款</a>
    <a href="{:url('index/Order/wait_deliver')}">待发货</a>
    <a href="{:url('index/Order/take_deliver')}">待收货</a>
    <a href="{:url('index/Order/evaluate')}" >待评价</a>
</div>
<div class="order_box">
    <ul class="order_ul">
        <li class="order_li">
            <a href='{:url("index/Goods/detail")}'>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:8rem; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div class="all_cost">共<span>{$vo.order_num}</span>件商品 合计:￥<span>{$vo.pay_money}</span>(含运费:￥<span>{$vo.send_money}</span> )</div>
                    </div>
                </div>
            </a>
        </li>
        <li class="order_li">
            <a href='{:url("index/Goods/detail")}'>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:8rem; height: 90px;">
                        <img src="__STATIC__/index/image/demo/pa1.jpg">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥{$vo.pay_money}</span></div>
                    </div>
                </div>
            </a>
            <a href="javascript:;" id="payment" class="public_btn mg_left5">付款</a>
            <a href="javascript:;" id="cancel_order" class="cancel_order public_btn">取消订单</a>
        </li>
        <li class="order_li">
            <a href='{:url("index/Goods/detail")}'>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:8rem; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥{$vo.pay_money}</span></div>
                    </div>
                </div>
            </a>
        </li>
        <li class="order_li">
            <a href='{:url("index/Goods/detail")}'>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:8rem; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div style="display: none">{$vo.id}</div>
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥{$vo.pay_money}</span></div>
                    </div>
                </div>
            </a>
            <a href="javascript:;" id="confirm_deliver" class="public_btn mg_left5">确认收货</a>
            <a href="javascript:;" id="check_logistic" class="cancel_order public_btn ">查看物流</a>
        </li>
        <li class="order_li">
            <a href='{:url("index/Goods/detail")}'>
                <div class="aui-media-list-item-inner">
                    <div class="aui-list-item-media" style="width:8rem; height: 90px;">
                        <img src="__UPLOADS__/{$vo.goods_img}">
                    </div>
                    <div class="aui-list-item-inner">
                        <p class="status_p">{$vo.status}</p>
                        <div class="aui-list-item-text">
                            <div class="aui-list-item-title">{$vo.goods_name}</div>
                        </div>
                        <div><span class="aui-margin-l-5">￥{$vo.pay_money}</span></div>
                    </div>
                </div>
            </a>
            <a href="javascript:;" id="confirm_deliver" class="public_btn mg_left5">评价商品</a>
        </li>
    </ul>
</div>
<script src="__STATIC__/index/js/jquery.js"></script>
<script>

    // (function(){
    //     var status_len = $('.status_p').length;
    //     var status_p = $('.status_p');
    //     for(var i = 0; i < status_len; i++){
    //         if(status_p[i].innerHTML == '1'){
    //             status_p[i].innerHTML == ''
    //         }
    //     }
    // })()
</script>
</body>
</html>