{extend name="layout"}
{block name="css"}

<!--自定义内容-->


{/block}


{block name="content"}
<form id="CategoryAdd">
    <label class="form-label col-xs-4 col-sm-3" id=""><span>商品分类名称</span></label>
    <input type="text" class="CategoryName" value="" style="margin-bottom: 20px;"><br/>
    <a href="{:url('admin/Goods/edit')}">商品编辑</a>
    <label><span>状态</span></label>
    <select class="Status">
        <option value="1">启用</option>
        <option value="0">停用</option>
    </select><br/>
    <label><span>父类分类</span></label>
    <select class="pid">
        <option value="0">顶级</option>
    </select><br/>
    <label class=""><span>菜单排序</span></label>
    <input type="text" class="sort_number" style="margin-bottom: 20px;"><br/>
    <input type="submit" value="提交">
</form>

<hr>
<!--<a href=" http://sighttp.qq.com/cgi-bin/check?sigkey=ee8bdb91c04a9ae912a305a5a2461a0d8d68f24d5fff7f7484990ce0408fa282 "; target=_blank; onclick="var tempSrc=' http://sighttp.qq.com/wpa.js?rantime='+Math.random()+'&sigkey=ee8bdb91c04a9ae912a305a5a2461a0d8d68f24d5fff7f7484990ce0408fa282';var oldscript=document.getElementById('testJs');var newscript=document.createElement('script');newscript.setAttribute('type','text/javascript'); newscript.setAttribute('id', 'testJs');newscript.setAttribute('src',tempSrc);if(oldscript == null){document.body.appendChild(newscript);}else{oldscript.parentNode.replaceChild(newscript, oldscript);}return false;"><img border="0" SRC=' http://wpa.qq.com/pa?p=1:QQ 1061525487:41' alt="点击和我联系"></a>-->
<!--<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1061525487&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1061525487:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>-->
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1061525487&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1061525487:53" alt="么么哒" title="么么哒"/></a>
<!--财务QQ-->
<a style="display:block;font-size: 30px;padding: 100px;" onclick="jia_qq(1061525487)"><img src="http://wpa.qq.com/pa?p=2:1061525487:51"></a>
<!--//客服QQ-->
<a style="display:block;font-size: 30px;padding: 100px;" onclick="jia_qq(25774545)"><img src="http://wpa.qq.com/pa?p=2:1061525487:51"></a>
{/block}


{block name="bottom"}

{/block}