<style>
    .wrapper{margin-left: 30px;}
</style>
{extend name="layout"}

{block name="content"}
<div class="wrapper" style="margin-left:30px;">
    <form method="post" action="{:url('admin/menu/updata')}">
        {volist name="menu" id="val"}
            <label>
                <span>菜单名称</span>
            </label>
            <input type="text" name="name" value="{$val.name}"><br/>
            <label>
                <span>菜单url</span>
            </label>
            <input type="text" name="url" value="{$val.url}"><br/>
            <label>
                <span>状态</span>
            </label>
            <select id="" class="" name="status">
                <option value="1">启用</option>
                <option value="0">停用</option>
            </select><br/>
            <label>
                <span>菜单排序</span>
            </label>
            <input type="text" name="sort_number" value="{$val.sort_number}" ><br/>
            <label>
                <span>无</span>
            </label>
            {if !empty($menu_list)}
            <select name="pid">
                <option value="0">顶级</option>
                {volist name="menu_list" id="value"}
                <option value="{$value.id}">{$value.name}</option>
                {/volist}
            </select><br/>
            {/if}
            <input type="hidden" name="id" value="{$val.id}">
            <input type="submit" id="" class="" value="提交">
        {/volist}
    </form>
</div>

{/block}


{block name="bottom"}
<script>

</script>
{/block}