{extend name="layout"}

{block name="css"}
<style>
    .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
    .pagination li{margin:0px 10px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
    .pagination .active{background-color: #dd1a20;color: #fff;}
    .pagination .disabled{color:#aaa;}
    .dept_select{min-width: 200px;}
    .shade {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.55);
    }

    .shade div {
        width: 300px;
        height: 200px;
        line-height: 200px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -100px;
        margin-left: -150px;
        background: white;
        border-radius: 5px;
        text-align: center;
    }

    .a-upload {
        padding: 4px 10px;
        height: 20px;
        line-height: 20px;
        position: relative;
        cursor: pointer;
        color: #888;
        background: #fafafa;
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;
        display: inline-block;
        *display: inline;
        *zoom: 1
    }

    .a-upload input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        cursor: pointer
    }

    .a-upload:hover {
        color: #444;
        background: #eee;
        border-color: #ccc;
        text-decoration: none
    }
    .img_div{min-height: 100px; min-width: 100px;}
    .isImg{width: 120px; height: 120px; position: relative; float: left; margin-left: 10px;}
    .removeBtn{position: absolute; top: 0; right: 0; z-index: 11; border: 0px; border-radius: 50px; background: red; width: 22px; height: 22px; color: white;}
    .shadeImg{position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 15;
        text-align: center;
        background: rgba(0, 0, 0, 0.55);}
    .showImg{width: 400px; height: 500px; margin-top: 140px;}

</style>
{/block}



{block name="content"}
<div>

    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 产品列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <form action="" method="post">
            <div class="text-c"> 日期范围：
                <input type="date" name="datemin" class="input-text Wdate" id="datemin" style="width:140px;">
                -
                <input type="date" id="datemax" name="datemax" class="input-text Wdate" style="width:140px;">
                <input type="text" class="input-text" id="search_key" style="width:250px" placeholder="产品名称、订单id、用户id" name="search_key">
                <button type="submit" class="btn btn-success radius bt_search" name="search_bt" >
                    <i class="Hui-iconfont">&#xe665;</i> 搜索产品
                </button>
            </div>
        </form>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a href="javascript:;" onclick="" class="btn btn-danger radius">
                    <i class="Hui-iconfont"></i> 批量发货
                </a>
            </span>
            <span class="r">共有数据：
                <strong>54</strong> 条
            </span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <th width="40"><input name="ids" type="checkbox" value=""></th>
                    <th width="40">订单号</th>
                    <th width="60">商品图片</th>
                    <th width="12">产品名称</th>
                    <th width="20">订单数量</th>
                    <th width="50">买家信息</th>
                    <th width="100">下单时间</th>
                    <th width="60">实付金额</th>
                    <th width="60">订单状态</th>
                </tr>
                </thead>
                <tbody class="tbody">
                {volist name="data" id="vo"}
                <tr class="text-c va-m">
                    <th width="10"><input name="ids" type="checkbox" value="{$vo['id']}"></th>
                    <th width="30">{$vo['id']}</th>
                    <th width="50"><img src="__UPLOADS__/{$vo.goods_img}" alt="商品图片"></th>
                    <th width="80">{$vo.goods_name}</th>
                    <th width="20">{$vo.order_num}</th>
                    <th width="40">laowang <br>  187777531176  </th>
                    <th width="50">{$vo.create_time|date="Y-m-d H:i:s",###}</th>
                    <th width="40">{$vo.pay_money}</th>
                    <td class="td-status">
                        <span class="label label-success radius">{$vo.status}</span>
                        <!--<span class="label label-success radius">1待付款</span>-->
                        <!--<span class="label label-success radius">2待发货</span>-->
                        <!--<span class="label label-success radius">3已发货</span>-->
                        <!--<span class="label label-success radius">4待收货</span>-->
                        <!--<span class="label label-success radius">5已完成</span>-->
                        <!--<span class="label label-success radius">6待评价</span>-->
                        <!--<span class="label label-success radius">7已评价</span>-->
                        <!--<span class="label label-success radius">8待退款</span>-->
                        <!--<span class="label label-success radius">0已取消</span>-->
                    </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>
</div>
{/block}


{block name="bottom"}
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/admin/lib/zTree/v3/js/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__/admin/__STATIC__/admin/static/h-ui2/js/tp.js"></script>
<script>
    $(".bt_search").click(function () {
        var datemin = $('#datemin')[0].value;
        var datemax = $('#datemax')[0].value;
        var search_key = $('#search_key').val();
        $.ajax({
            type:'POST',
            url:'{:url("admin/Order/search")}',
            data:{
                "datemin": datemin+' '+'00:00:00',
                "datemax": datemax+' '+'23:59:59',
                "search_key": search_key
            },
            dataType: 'json',
            success: function(data){
                console.log(data);
            },
            error:function(data) {
                console.log(data.msg);
            },
        });

    })


</script>


{/block}