<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>自助服务</title>
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <link rel="stylesheet" href="__STATIC__/index/css/self-service.css">
</head>
<body>
<div class="header_box">
    <div class="bar bar-header">
        <a class="back" href="member_index.html">
            <i class="aui-iconfont aui-icon-left"></i>
        </a>
        <div id="title" class="h1 title">自助服务</div>
    </div>
</div>
<div class="list_box">
    <ul>
        <li>
            <div class="img_box">
                <a href="repair_index">
                    <img src="__STATIC__/index/image/icon/img1.png">
                </a>
            </div>
            <p>申请售后</p>
        </li>
        <li>
            <div class="img_box">
                <a href="javascript:;">
                    <img src="__STATIC__/index/image/icon/img2.png">
                </a>
            </div>
            <p>常见问题</p>
        </li>
        <li>
            <div class="img_box">
                <a href="chat">
                    <img src="__STATIC__/index/image/icon/img3.png">
                </a>
            </div>
            <p>投诉中心</p>
        </li>
        <li>
            <div class="img_box">
                <a href="chat">
                    <img src="__STATIC__/index/image/icon/img4.png">
                </a>
            </div>
            <p>APP问题反馈</p>
        </li>
        <li>
            <div class="img_box">
                <a href="javascript:;">
                    <img src="__STATIC__/index/image/icon/img5.png">
                </a>
            </div>
            <p>售后服务协议</p>
        </li>
    </ul>
</div>


<script src="__STATIC__/index/js/jquery.js"></script>

</body>
</html>