<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手袋购物网</title>
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <style>
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="header_box">
        <div class="bar bar-header">
            <a class="back" href="member_index.html">
                <i class="aui-iconfont aui-icon-left"></i>
            </a>
            <div id="title" class="h1 title">个人资料</div>
        </div>
    </div>
    <div class="wrapper">
        
    </div>

    <script type="text/javascript" src="__STATIC__/index/js/jquery.js"></script>

</body>
</html>