<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>手袋购物网</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/aui.css" />
    <link rel="stylesheet" href="__STATIC__/index/css/aui-flex.css">
    <link rel="stylesheet" href="__STATIC__/index/css/aui-slide.css">
    <link rel="stylesheet" href="__STATIC__/index/css/member.css">
    <style type="text/css">
        .user-info {
            background-color: #ffffff;
            padding: 10px 0;
        }
        img.avatar {
            display: block;
            margin: 0 auto;
            width: 20%;
        }
        .aui-list .aui-list-header {
            background-color: #ffffff;
            line-height: 1.2rem;
        }

    </style>
</head>
<body>
    <section class="aui-content user-info aui-text-center aui-margin-b-15">
        <img src="__STATIC__/index/image/toux.jpg" class="avatar aui-img-round">
        <h2 class="aui-margin-t-15">杂货铺的<small><i class="aui-iconfont aui-icon-cert aui-text-danger"></i></small></h2>
        <div class="aui-row aui-margin-t-15">
            <div class="aui-col-xs-6 aui-text-right aui-border-r aui-padded-r-10">
                <div class="aui-label aui-label-info">LV 6</div>
            </div>
            <div class="aui-col-xs-6 aui-text-left aui-padded-l-10">
                铜牌会员
            </div>
        </div>
        <div class="aui-row aui-margin-t-15">
            <div class="aui-col-xs-6 aui-text-right aui-border-r aui-padded-r-10">
                <span class="aui-text-danger aui-margin-r-5">233</span>关注商品
            </div>
            <div class="aui-col-xs-6 aui-text-left aui-padded-l-10">
                <span class="aui-text-danger aui-margin-l-5">120</span>关注店铺
            </div>
        </div>
    </section>

    <section class="aui-content aui-grid aui-margin-b-15">
        <!-- <div class="aui-row">
            <div class="aui-col-xs-4 aui-border-r">
                <big class="aui-text-warning">0.00<small> 元</small></big>
                <div class="aui-gird-lable aui-font-size-12">余额</div>
            </div>
            <div class="aui-col-xs-4 aui-border-r">
                <big class="aui-text-danger">0.00<small> 个</small></big>
                <div class="aui-gird-lable aui-font-size-12">优惠</div>
            </div>
            <div class="aui-col-xs-4">
                <big class="aui-text-success">0.00<small> 分</small></big>
                <div class="aui-gird-lable aui-font-size-12">积分</div>
            </div>
        </div> -->
        <div class="order_icon_box">
            <div class="top_box">
                <span>我的订单</span>
                <a href="order_myorder">查看更多订单 ></a>
            </div>
            <div class="bottom_box">
                <div class="payment">
                    <a href="{:url('index/Order/wait_pay')}">
                        <img src="__STATIC__/index/image/icon/img9.png" width="24" height="24">
                        <p>待付款</p>
                    </a>
                </div>
                <div class="deliver">
                    <a href="{:url('index/Order/wait_deliver')}">
                        <img src="__STATIC__/index/image/icon/img10.png" width="24" height="24">
                        <p>待发货</p>
                    </a>
                </div>
                <div class="take_deliver">
                    <a href="{:url('index/Order/take_deliver')}">
                        <img src="__STATIC__/index/image/icon/img11.png" width="24" height="24">
                        <p>待收货</p>
                    </a>
                </div>
                <div class="evalute">
                    <a href="{:url('index/Order/evaluate')}">
                        <img src="__STATIC__/index/image/icon/img12.png" width="24" height="24">
                        <p>待评价</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="aui-content">
        <ul class="aui-list aui-list-in aui-margin-b-15">
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-location aui-text-info"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">管理收货地址</div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-like aui-text-danger"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">我的收藏</div>
                </div>
            </li>
            <!-- <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-image aui-text-info"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">我的足迹</div>
                </div>
            </li> -->
        </ul>
        <ul class="aui-list aui-list-in">
            <!-- <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-cart aui-text-info"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">积分商城</div>
                    <div class="aui-list-item-right">0元好物在这里</div>
                </div>
            </li> -->
            <li class="aui-list-item">
                <div class="aui-list-item-label-icon">
                    <i class="aui-iconfont aui-icon-cert aui-text-warning"></i>
                </div>
                <div class="aui-list-item-inner aui-list-item-arrow">
                    <div class="aui-list-item-title">会员卡</div>
                    <div class="aui-list-item-right">未开通</div>
                </div>
            </li>
        </ul>
    </section>

    <div class="aui-card-list-content-padded aui-border-b aui-border-t">
        <h2 style="text-align:center; font-size:14px;" class="aui-img-sin"><img src="__STATIC__/index/image/guess-title.png" alt=""></h2>
        <div class="aui-row aui-row-padded aui-zdy-text">
            <div class="aui-col-xs-6">
                <a href="#">
                    <img src="__STATIC__/index/image/demo/ad2.jpg">
                    <p>[为你推荐]kaman抽屉式化妆品收纳盒大号创意护肤桌面收纳盒塑料口红置物架</p>
                    <span class="aui-margin-l-5">￥39.00</span>
                </a>
            </div>
            <div class="aui-col-xs-6">
                <a href="#">
                    <img src="__STATIC__/index/image/demo/ad3.jpg">
                    <p>[为你推荐]蚊帐三开门1.2m床坐床式拉链1.5m床蒙古包1.8m米床双人床家用蚊帐</p>
                    <span class="aui-margin-l-5">￥199.00</span>
                </a>
            </div>
            <div class="aui-col-xs-6">
                <a href="#">
                    <img src="__STATIC__/index/image/demo/ad4.jpg">
                    <p>[为你推荐]纯棉床裙式床罩三件套单件蕾丝边保护床套1.5米1.8m双人2.0m床群</p>
                    <span class="aui-margin-l-5">￥169.00</span>
                </a>
            </div>
            <div class="aui-col-xs-6">
                <a href="#">
                    <img src="__STATIC__/index/image/demo/ad5.jpg">
                    <p>[为你推荐]可爱卡通脏衣篓儿童玩具收纳桶布艺脏衣服收纳筐衣物换洗衣服篮子</p>
                    <span class="aui-margin-l-5">￥39.00</span>
                </a>
            </div>
            <div class="aui-col-xs-6">
                <a href="#">
                    <img src="__STATIC__/index/image/demo/ad6.jpg">
                    <p>美丽俏佳人力荐 蜗牛补水保湿面膜20片 温和补水 呵护肌肤</p>
                    <span class="aui-margin-l-5">￥99.00</span>
                </a>
            </div>
            <div class="aui-col-xs-6">
                <a href="#">
                    <img src="__STATIC__/index/image/demo/ad7.jpg">
                    <p>[为你推荐]【佳彩天颜】diy数字油画卡通动漫动物手工绘油彩填色装饰画麋鹿</p>
                    <span class="aui-margin-l-5">￥299.00</span>
                </a>
            </div>

        </div>
    </div>

    <div style="height:48px"></div>
    <div id="demo" style="display:none">

    </div>
    <footer class="aui-bar aui-bar-tab aui-bar-tab-cl aui-border-t" id="footer">
        <a href="{:url('index/index/index')}" class="aui-bar-tab-item " tapmode>
            <i class="aui-iconfont aui-icon-home home"></i>
            <div class="aui-bar-tab-label home">首页</div>
        </a>
        <a class="aui-bar-tab-item" tapmode href="class_index">
            <i class="aui-iconfont aui-icon-menu"></i>
            <div class="aui-bar-tab-label">分类</div>
        </a>
		<a class="aui-bar-tab-item" tapmode href="{:url('index/Share/share_index')}">
			<i class="aui-iconfont aui-icon-camera"></i>
			<div class="aui-bar-tab-label">晒单</div>
		</a>
        <a class="aui-bar-tab-item" tapmode href="{:url('index/Shopping/index')}">
            <i class="aui-iconfont aui-icon-cart"></i>
            <div class="aui-bar-tab-label">购物车</div>
        </a>
        <a class="aui-bar-tab-item aui-active" tapmode href="member.html">
            <i class="aui-iconfont aui-icon-my thered"></i>
            <div class="aui-bar-tab-label thered">我的</div>
        </a>

    </footer>

</body>
<script type="text/javascript" src="__STATIC__/index/js/index/api.js" ></script>
<script type="text/javascript" src="__STATIC__/index/js/index/aui-tab.js" ></script>
<script type="text/javascript" src="__STATIC__/index/js/index/aui-slide.js"></script>
<script type="text/javascript">
    var slide = new auiSlide({
        container:document.getElementById("aui-slide"),
        // "width":300,
        "height":185,
        "speed":300,
        "autoPlay":5000, //自动播放时间
        "pageShow":true,
        "loop":true,
        "pageStyle":'dot',
        'dotPosition':'center'
    })

    function currentFun(index) {
        console.log(index);
    }
    var slide2 = new auiSlide({
        container:document.getElementById("aui-slide2"),
        // "width":300,
        "height":220,
        "speed":300,
        "autoPlay":0, //自动播放
        "pageShow":true,
        "loop":true,
        "pageStyle":'dot',
        'dotPosition':'center'
    })
    var slide3 = new auiSlide({
        container:document.getElementById("aui-slide3"),
        // "width":300,
        "height":240,
        "speed":500,
        "autoPlay": 3000, //自动播放
        "loop":true,
        "pageShow":true,
        "pageStyle":'line',
        'dotPosition':'center'
    })
    console.log(slide3.pageCount());
</script>
<script type="text/javascript">
    apiready = function(){
        api.parseTapmode();
    }
    var tab = new auiTab({
        element:document.getElementById("footer")
    },function(ret){
        console.log(ret);
        if(ret){
            document.getElementById("demo").textContent = ret.index;
        }
    });
</script>
</html>