<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>手袋购物网</title>
    <link rel="stylesheet" href="__STATIC__/index/css/aui.css">
    <link rel="stylesheet" href="__STATIC__/index/css/myadd.css">
</head>
<body>
    <div class="header_box">
        <div class="bar bar-header">
            <a class="back" href="member_index.html">
                <i class="aui-iconfont aui-icon-left"></i>
            </a>
            <div id="title" class="h1 title">我的收货地址</div>
        </div>
    </div>
    <div class="wrap">
        <div class="left">
            <div class="name_phone">
                <span class="name_box">张学友</span>
                <span>136****4451</span>
            </div>
            <div class="addr_box">
                广东省 深圳市 福田区 莲花街道 新闻路115号中电信息大厦1518
            </div>
        </div>
        <div class="right">
            <a href="javascript:alert('编辑地址');">编辑</a>
        </div>
    </div>
</body>
</html>